
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<title>Extract PDF </title>
		<meta name="description" content="Initialized via remote ajax json data" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="https://www.point-star.com/wp-content/uploads/2021/07/ps-favicon-e1625802788789.png" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="index.html">
				<img alt="Logo" src="" class="max-h-30px" />
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn btn-icon btn-icon-white btn-hover-icon-white" id="kt_aside_mobile_toggle">
					<span class="svg-icon svg-icon-xxl">
						<!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<rect x="0" y="0" width="24" height="24" />
								<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
								<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</button>
				<!--begin::Topbar Mobile Toggle-->
				<button class="btn btn-icon btn-icon-white btn-hover-icon-white ml-1" id="kt_header_mobile_topbar_toggle">
					<span class="svg-icon svg-icon-xl">
						<!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24" />
								<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
								<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</button>
				<!--end::Topbar Mobile Toggle-->
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<!--begin::Aside-->
	
		<!--end::Aside-->
		<div class="">
			<!--begin::Page-->
			<div class="">
				<!--begin::Wrapper-->
				<div class="" id="kt_wrapper">
					<!--begin::Header-->
					<div id="kt_header" class="header">
						<!--begin::Container-->
						<div class="container">
							<!--begin::Info-->
							<div class="d-flex align-items-center flex-wrap mr-1 mt-5 mt-lg-0">
								<!--begin::Page Heading-->
								<div class="d-flex align-items-baseline flex-wrap mr-5">
									<!--begin::Page Title-->
									
									<!--end::Page Title-->
								
								</div>
								<!--end::Page Heading-->
							</div>
							<!--end::Info-->
							<!--begin::Topbar-->
							
							<!--end::Topbar-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Header-->
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Notice-->
								
								<!--end::Notice-->
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<img alt="Logo" src="https://www.pointstar.com.my/wp-content/uploads/2021/06/ps-logo.png" class="max-h-50px my-2" />
											<h3 class="card-label pull-right">Extract PDF Data</h3>
												
										</div>

										<div class="card-toolbar">
											<!--begin::Dropdown-->
											
											 <!-- <button class="btn btn-primary" id="Save" >Export To Netsuite</button>  -->
										</div>
									</div>
									<div class="card-body" >
										<!--begin: Search Form-->
										<!--begin::Search Form-->
										<div class="mb-7">

											<div class="row align-items-center">
												<label class="col-form-label mr-3 pull-right">Template:</label>
												<div class="col-md-4  my-md-0" >
													
													
														
														<select class="form-control " id="list_template">
															<option value="">Select Template</option>
															<option value="templete">Template 1</option>
															<option value="2">Template 2</option>
															<option value="3">Template 3</option>
				
															<option value="1">Template 4</option>
															<option value="2">Template 5</option>
															<option value="3">Template 6</option>
			
															<option value="1">Template 7</option>
															<option value="2">Template 8</option>
															<option value="3">Template 9</option>
			
															<option value="1">Template 10</option>
															<option value="2">Template 11</option>
															<option value="3">Template 12</option>
			
															<option value="1">Template 13</option>
															<option value="2">Template 14</option>
															<option value="3">Template 15</option>
			
															<option value="1">Template 16</option>
															<option value="2">Template 17</option>
															<option value="3">Template 18</option>
			
			
														</select>
													
												</div>
												<div class="col-md-4  ">
													<div class="float-right">
												
														<input type="file" class="filestyle" id="custpage_file" name="custpage_file"  />
													</div>
												</div>
												
												
												<!-- <div class="col-md-4 my-2 my-md-0">
													<div class="">
														<label class="mr-3 mb-0 d-none d-md-block">To:</label>
														<input   type="text" class="form-control" id="to" required style="width:100%;">
													</div>
												</div> -->
												<!-- <div class="col-md-4 my-2 my-md-0">
													<div class="">
														<label class="mr-3 mb-0 d-none d-md-block">Attn:</label>
														<input   type="text" class="form-control"  id="attn" required style="width:100%;">
													</div>
												</div> -->
												
											</div>
											<div class="separator separator-dashed my-5">  </div>
											<!-- <div class="form-group row" id="template">
												<label class="col-form-label text-right col-lg-3 col-sm-12">Template:</label>
												<div class="col-lg-6 col-md-9 col-sm-12">
													<div class="input-group">
														<select class="form-control" id="list_template">
															<option value="">Select Template</option>
															<option value="templete">Template 1</option>
															<option value="2">Template 2</option>
															<option value="3">Template 3</option>
				
															<option value="1">Template 4</option>
															<option value="2">Template 5</option>
															<option value="3">Template 6</option>
			
															<option value="1">Template 7</option>
															<option value="2">Template 8</option>
															<option value="3">Template 9</option>
			
															<option value="1">Template 10</option>
															<option value="2">Template 11</option>
															<option value="3">Template 12</option>
			
															<option value="1">Template 13</option>
															<option value="2">Template 14</option>
															<option value="3">Template 15</option>
			
															<option value="1">Template 16</option>
															<option value="2">Template 17</option>
															<option value="3">Template 18</option>
			
			
														</select>
					   
													</div>
												</div>
											</div> -->


											<!-- <div class="col-md-6 my-2 my-md-2 align-items-center justify-content-center">
												<div class="d-flex align-items-center" id="template">
													
											
														<label class="mr-4 mb-0 d-none d-md-block">Template: </label>
														<select class="form-control" id="kt_datatable_search_type" >
															<option value="">Select</option>
															<option value="1">Template 1</option>
															<option value="2">Template 2</option>
															<option value="templete">Template 3</option>
				
															<option value="1">Template 4</option>
															<option value="2">Template 5</option>
															<option value="3">Template 6</option>
			
															<option value="1">Template 7</option>
															<option value="2">Template 8</option>
															<option value="3">Template 9</option>
			
															<option value="1">Template 10</option>
															<option value="2">Template 11</option>
															<option value="3">Template 12</option>
			
															<option value="1">Template 13</option>
															<option value="2">Template 14</option>
															<option value="3">Template 15</option>
			
															<option value="1">Template 16</option>
															<option value="2">Template 17</option>
															<option value="3">Template 18</option>
			
			
														</select>
												</div>
											</div>
										 -->
										

											<div class="row align-items-center">
												<div class="col-lg-9 col-xl-8">
													<div class="row align-items-center">
														<div class="col-md-4 my-2 my-md-0">
															<div class="" >
																<label class="mr-3 mb-0 d-none d-md-block">Date:</label>
																<input   type="text" class="form-control" id="date" required style="width:100%;">
															</div>
														</div>
														<div class="col-md-4 my-2 my-md-0">
															<div class="">
																<label class="mr-3 mb-0 d-none d-md-block">Job Number:</label>
																<input   type="text" class="form-control" id="jobNumber"  required style="width:100%;">
															</div>
														</div>
														<div class="col-md-4 my-2 my-md-0">
															<div class="">
																<label class="mr-3 mb-0 d-none d-md-block">Shipper:</label>
																<input   type="text" class="form-control" id="shipper" required style="width:100%;">
															</div>
														</div>
														
														<!-- <div class="col-md-4 my-2 my-md-0">
															<div class="">
																<label class="mr-3 mb-0 d-none d-md-block">To:</label>
																<input   type="text" class="form-control" id="to" required style="width:100%;">
															</div>
														</div> -->
														<!-- <div class="col-md-4 my-2 my-md-0">
															<div class="">
																<label class="mr-3 mb-0 d-none d-md-block">Attn:</label>
																<input   type="text" class="form-control"  id="attn" required style="width:100%;">
															</div>
														</div> -->
														
													</div>
													

													<div class="row align-items-center">
														<!-- <div class="col-md-4 my-2 my-md-0">
															<div class="">
																<label class="mr-3 mb-0 d-none d-md-block">From:</label>
																<input   type="text" class="form-control" id="from" required style="width:100%;">
															</div>
														</div> -->
														
														
													</div>
												

													

													

													<div class="row align-items-center">
														<!-- <div class="col-md-4 my-2 my-md-0">
															<div class="">
																<label class="mr-3 mb-0 d-none d-md-block">Commodity:</label>
																<input   type="text" class="form-control" id="commodity" required style="width:100%;">
															</div>
														</div> -->
														
														<!-- <div class="col-md-4 my-2 my-md-0">
															<div class="">
																<label class="mr-3 mb-0 d-none d-md-block">volume:</label>
																<input   type="text" class="form-control" id="volume"  required style="width:100%;">
															</div>
														</div> -->
													</div>
													

												</div>
												
											</div>
										</div>
										<!--end::Search Form-->
										<!--end: Search Form-->
										<!--begin: Datatable-->
										<div class="" >

											<table class="table table-striped">
												<thead>
												  <tr>
													<th scope="col">Tank Number</th>
													<th scope="col">Tare WT</th>
													<th scope="col">From</th>
													<th scope="col">TO</th>
													<th scope="col">Commodity</th>
													<th scope="col">Release Date</th>
													<th scope="col">Release Ref</th>
													<th scope="col">Volume</th>
												  </tr>
												</thead>
												<tbody id="tableData" >
												 
												
												</tbody>
											  </table>

											 
										</div>
										<!--end: Datatable-->
										
									</div>
								
									<div class="card-footer">
										<div class="row">
											<div class="col-lg-8"></div>
											<div class="col-lg-9">
												<button class="btn btn-primary font-weight-bold mr-2" id="Save">Export</button>
											</div>
										</div>
									</div>
									
								</div>
								<!--end::Card-->
								
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
				
					
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		<!--begin::Search Panel-->
		<div id="kt_quick_search" class="offcanvas offcanvas-right p-10">
			<!--begin::Header-->
			<div class="offcanvas-header d-flex align-items-center justify-content-between mb-5">
				<h3 class="font-weight-bold m-0">Search
				<small class="text-muted font-size-sm ml-2">files, reports, members</small></h3>
				<a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_search_close">
					<i class="ki ki-close icon-xs text-muted"></i>
				</a>
			</div>
			<!--end::Header-->
			<!--begin::Content-->
			<div class="offcanvas-content">
				<!--begin::Container-->
				
				<!--end::Container-->
			</div>
			<!--end::Content-->
		</div>
		

		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->
		<!--begin::Sticky Toolbar-->
		
		<!--end::Sticky Toolbar-->
		<!--begin::Demo Panel-->
		
		<!--end::Demo Panel-->
		<script>var HOST_URL = "https://preview.keenthemes.com/keen/theme/tools/preview";</script>
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#FFFFFF", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<script src="assets/js/pages/features/miscellaneous/blockui.js"></script>

		<!--end::Global Theme Bundle-->
		<!--begin::Page Scripts(used by this page)-->
		
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>

   <script>

	$("#Save").click(function()
	{

		KTApp.blockPage({
					overlayColor: '#000000',
					state: 'primary',
					message: 'Please wait...'
					});

					setTimeout(
    function() {
		window.open('https://tstdrv2594818.app.netsuite.com/app/accounting/transactions/salesord.nl?id=98066&whence=&e=T');
		KTApp.unblockPage();
    }, 5000);
		

	});

	var fileData=""
	$('#custpage_file').change(function(){

		KTApp.blockPage({
					overlayColor: '#000000',
					state: 'primary',
					message: 'Please wait...'
					});


	var formData = new FormData();
	console.log("file",$('#custpage_file')[0].files)
	var files = $('#custpage_file')[0].files[0]
	formData.append('file',files)
  
$.ajax({
   type      : 'POST', //Method type
   url       :  '/pdfextract', //Your form processing file URL
   data      : formData , //Forms 
   enctype: "multipart/form-data", 
   processData: false,
   contentType: false,
   success   : function(data) 
		   {
              KTApp.unblockPage();	
			  $("#template").show();

			  fileData=data

			   console.log("checkkk pdf data",data)


								// KTApp.blockPage({
							// 			overlayColor: '#000000',
							// 			state: 'primary',
							// 			message: 'Please wait...'
							// 			});


					var templateValue=$("#list_template").find(":selected").val()
					console.log("templete",templateValue)

					if(templateValue=="templete")
					{
						$('#tableData').empty()
					date = fileData.date
					$('#date').val(fileData.date)
					$('#to').val(fileData.to)
					$('#attn').val(fileData.attn)
					$('#from').val(fileData.from)
					$('#jobNumber').val(fileData.jobNumber)
					$('#shipper').val(fileData.shipper)

					$('#pol').val(fileData.pol)
					$('#term').val(fileData.term)

					$('#pod').val(fileData.pod)
					$('#carrierRefNo').val(fileData.carrierRefNo)
					$('#commodity').val(fileData.commodity)
					$('#volume').val(fileData.volume)

			     console.log("check",fileData.items)

                  var items = fileData.items
				  var tableData=""
				for(var i=0; i<items.length; i++)
				{
					   tableData+='<tr>'
						
						tableData+= '<td>'+items[i].tankNumber+'</td>'
						tableData+= '<td>'+items[i].tareWT+'</td>'

						tableData+= '<td>'+fileData.from+'</td>'
						tableData+= '<td>'+fileData.to+'</td>'
						tableData+= '<td>'+fileData.commodity+'</td>'

						tableData+= '<td>'+items[i].releaseDate+'</td>'
						tableData+= '<td>'+items[i].releaseRef+'</td>'
						tableData+= '<td>'+fileData.volume+'</td>'
						tableData+='</tr>'
				}


					$('#tableData').append(tableData);
					console.log("table",tableData)


					}

					else
					{
						KTApp.unblockPage();
							swal.fire({
								text: "Please Select the Template",
								icon: "error",
								buttonsStyling: false,
								confirmButtonText: "Ok",
								customClass: {
									confirmButton: "btn font-weight-bold btn-light-primary"
								 }
							})

						$('#tableData').empty()
						$('#date').val('')
						$('#jobNumber').val('')
						$('#shipper').val('')

					}


			  
			 
		   },
		   error: function(xmlhttprequest, textstatus, message) 
					{
						KTApp.unblockPage();
							swal.fire({
								text: textstatus,
								icon: "error",
								buttonsStyling: false,
								confirmButtonText: "Ok",
								customClass: {
									confirmButton: "btn font-weight-bold btn-light-primary"
								 }
							})
						
					}

});


	});

	$('#template').change(function(){

			

        });

		$("#file_attach").click(function()
		{
			$("#custpage_file").click()

        });
		

	</script>